<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
/*
  Importanto os estilos do bootstrap-vue
*/
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'App',
  computed: {
    alert () {
      return this.$store.state.alert
    }
  },
  watch:{
    $route (to, from){
      // clear alert on location change
      this.$store.dispatch('alert/clear');
    }
  }
}
</script>

<style>

  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

  html, body{
      background: black !important;
  }

  #app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   /* text-align: center;*/
    color: #2c3e50;
  }
</style>
