<template>

    <div class="dash">

        <div class="header-flix">
            <b-container>
                <b-row>
                    <b-col>
                        <a class="logo-flix-varejo" title="Flix do Varejo" href="//www.flixdovarejo.com.br">Flix do Varejo</a>
                    </b-col>
                    <b-col>
                        <a class="link-sair-painel" href="javascript:void(0)" @click="logout()">
                            <svg width="14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt" class="svg-inline--fa fa-sign-out-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"></path></svg>
                            Sair
                        </a>
                        <a class="link-voltar-painel" href="//www.flixdovarejo.com.br">voltar ao portal Flix do Varejo</a>
                    </b-col>
                </b-row>
            </b-container>
        </div>

        <section class="bg-gradient-primary">

            <div class="header">

                <div class="logo-flixpreco">
                    <b-img src="/static/img/logo_flixprecos.png" alt="Logo Flix Preços" />
                </div>

            </div>

            <b-container>
                <b-row>
                    <b-col md="6">

                        <div class="section-search">

                            <h2>Olá <b>{{user.user.name}}</b>! <br> Aqui você pode pesquisar o preço médio de um produto em determinado estado!</h2>

                            <p>Digite o código GTIN/EAN de 8, 12, 13 ou 14 caracteres do produto e selecione o estado nos campos abaixo:</p>

                            <b-row>
                                <b-col md="6">
                                    <input type="text" id="input-ean" name="ean" v-model="eanCode" @input="calcLength" class="form-control text-center mb-2" placeholder="Digite o código GTIN/EAN" :maxlength="max" />
                                </b-col>
                                <b-col md="6">
                                    <b-form-select v-model="uf" id="select-uf" name="uf" class="form-control mb-3">
                                        <option value="default" disabled selected>Selecione o estado</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG" v-bind:selected="true">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </b-form-select>
                                </b-col>
                            </b-row>

                            <b-button class="3" size="lg" variant="dark" @click="consultar()" block v-bind:disabled="!isActive">
                                CONSULTAR PREÇO
                            </b-button>

                            <div class="section-result-error" v-if="msgToAlert">
                                <b-alert class="text-center text-uppercase" variant="danger" show dismissible>
                                    {{msgToAlert}}
                                </b-alert>
                            </div>

                        </div>

                    </b-col>
                    <b-col md="6">

                        <div class="section-result">

                            <div v-if="spinnerGlobal">
                                <b-img src="/static/img/load.svg" center alt="Ícone carregando" />
                            </div>

                            <div v-if="!resultados && !spinnerGlobal">
                                <b-img src="/static/img/supermarket2.jpg" rounded fluid class="shadow-primary" alt="Ilustração de mercado" />
                            </div>

                            <div v-if="resultados">

                                <div class="well shadow-primary text-center">

                                    <div v-if="resultados.data">

                                        <h4 class="product text-uppercase">
                                            <b>{{resultados.data.product}}</b>
                                            <br>
                                            <small>em {{resultados.data.state}}</small>
                                        </h4>

                                        <p class="price">R$ {{resultados.data.price}} *</p>

                                    </div>

                                    <div v-if="!resultados.data">

                                        <h4 class="product text-uppercase">
                                            <b>{{resultados.others[0].product}}</b>
                                        </h4>

                                        <b-alert class="text-center text-uppercase" variant="danger" show>
                                            NÃO FOI ENCONTRADO PREÇO PARA O ESTADO ESCOLHIDO
                                        </b-alert>

                                    </div>

                                    <div v-if="resultados.others">

                                        <small>outros estados:</small>

                                        <table class="table table-striped table-hover">
                                            <tr v-for="item in resultados.others" :key="item.uf">
                                                <td>{{item.state}}</td>
                                                <td>R$ {{item.price}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <small class="date" v-if="resultados.data">
                                        * atualizado {{moment(resultados.data.date).fromNow()}}
                                    </small>

                                    <small class="date" v-if="!resultados.data">
                                        * atualizado {{moment(resultados.others[0].date).fromNow()}}
                                    </small>

                                </div>

                            </div>

                        </div>

                    </b-col>
                </b-row>
            </b-container>

            <footer>
                <b-container>
                    <b-row>
                        <b-col md="6">
                            <!--<b-img src="/static/img/logo_umv.png" alt="Logo UMV e Martins" width="200" />-->
                        </b-col>
                        <b-col md="6">
                            <div class="desenvolvido text-right">
                                <a href="http://www.wingmidia.com.br" target="_blank" class="developed" title="Conheça a Wing Mídia Integrada.">
                                    <span>Desenvolvido por</span>
                                    <img src="/static/img/logo-wing-midia.png" alt="Logo Wing Mídia Integrada" title="Wing Mídia Integrada" class="img-logo-wing">
                                    <span class="wing">wingmidia</span>
                                </a>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </footer>

        </section>

    </div>

</template>

<style>

    body{
        background: black;
    }

    .bg-gradient-primary{
        background: linear-gradient(45deg, #753795 0%,#f5822a 90%);
    }

    .shadow-primary{
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    .header-flix {
        background-color: #000;
        width: 100%;
        margin: auto;
        position: fixed;
        top: 0px;
        z-index: 3;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    .header-flix a {
        color: #f58229;
    }

    .header-flix a.logo-flix-varejo {
        background: url(/static/img/logo_flix.png) no-repeat;
        display: inline-block;
        height: 31px;
        margin: 2px 0;
        text-indent: -9000px;
        width: 115px;
    }

    .header-flix a.link-voltar-painel {
        background: url(/static/img/icone-voltar.png) no-repeat center left;
        float: right;
        font-size: 12px;
        font-weight: bolder;
        padding: 7px 0 5px 17px;
    }

    .header-flix a.link-sair-painel {
        float: right;
        font-size: 12px;
        font-weight: bolder;
        padding: 7px 0 5px 17px;
        margin-left: 10px;
    }

    .header{
        margin-top: 30px;
        padding: 30px 0;
    }

    .header .logo-flixpreco{
        text-align: center;
        padding: 15px 0;
    }

    .section-search,
    .section-result,
    .section-result-error{
        margin: 15px 0;
    }
    .section-result .well,
    .section-result-error .well{
        background: white;
        padding: 20px;
        border-radius: 5px;
    }

    .section-search{
        color: white;
    }

    .section-search .form-control::placeholder,
    .section-search select.form-control{
        color: #444444;
    }

    .section-search .form-control{
        height: calc(3.25rem + 2px);
        color: #212529;
        font-weight: bold;
        text-transform: uppercase;
    }

    .section-search .form-control:focus {
        border-color: #ff800066;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.25);
    }

    .section-search .btn {
        color: white;
        font-weight: bold;
        background: #F47200;
        border-color: #F47200;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    }

    .section-result .well{
        background: #FFF1E6;
    }

    .section-result .price{
        color: #F37200;
        font-size: 45px;
        font-weight: bold;
    }

    .section-result-error .well{
        background: #FFE6E6;
    }

    footer {
        background: black;
        padding: 15px 0;
    }

    footer a {
        color: #FFF;
        line-height: 12px
    }

    footer a:hover {
        color: #58A5DE
    }

    footer .desenvolvido .developed {
        color: #FFF;
        position: relative;
        text-decoration: none;
        font-size: 12px;
    }

    footer .desenvolvido .developed span {
        position: relative;
        line-height: 30px;
        top: 0;
        transition: all .3s ease
    }

    footer .desenvolvido .developed .img-logo-wing {
        padding-left: .5rem
    }

    footer .desenvolvido .developed .wing {
        opacity: 0;
        position: absolute;
        right: 50px;
        top: 20px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .desenvolvido .developed:focus span, footer .desenvolvido .developed:hover span {
        top: -7px;
        line-height: 30px
    }

    footer .desenvolvido .developed:focus .wing, footer .desenvolvido .developed:hover .wing {
        display: block;
        opacity: 1;
        position: absolute;
        right: 50px;
        top: 4px;
        transform: all 1s ease;
    }

    @media only screen and (max-width: 767px) {
        .header-flix {
            position: inherit;
        }
        .header-flix a.link-voltar-painel{
            display: none;
        }
        .header {
            margin-top: 0;
            padding: 0;
        }
    }

    @media only screen and (max-height: 800px) {
        .section-search{
            min-height: 450px;
        }
    }

</style>

<script>
    import Vue from 'vue';
    import VueResource from 'vue-resource';
    import moment from 'moment';

    Vue.use(VueResource);

    moment.locale('pt-BR');

    export default {
        name: 'HomePage',
        props: {
            msg: String
        },
        data () {
            return {
                msgToAlert: false,
                resultados: null,
                uf: 'MG',
                max: 14,
                spinnerGlobal: false,
                eanCode: 7791293022567,
                urlApi: 'https://umv.maxmix.net.br/api/v1/flixprice/price',
                isActive: false
            }
        },
        methods: {

            calcLength($event){
                let num = parseInt(String(this.eanCode).length);
                this.eanCode = this.eanCode.replace(/\D+/g, '');
                this.isActive = !(num !== 8 && num < 12);
            },
            reset(){
                this.msgToAlert = false;
                this.resultados = null;
                this.uf = 'default';
                this.max = 14;
                this.spinnerGlobal = false;
                this.eanCode = null;
                this.isActive = false;
            },
            consultar(){
                this.resultados = false;
                this.msgToAlert = false;
                self = this;
                if(!this.eanCode){
                    this.showAlert('Digite um código GTIN/EAN')
                    return
                }
                if(parseInt(String(this.eanCode).length) !== 8 && parseInt(String(this.eanCode).length) < 12){
                    this.showAlert('Digite um código GTIN/EAN válido')
                    return
                }
                if(this.uf === 'default'){
                    this.showAlert('Selecione um estado para consulta');
                    return
                }
                if(this.uf !== 'default' && this.eanCode){
                    this.spinnerGlobal = true;
                    this.request()
                        .then(res => {
                            self.resultados = res;
                            this.spinnerGlobal = false;
                        })
                        .catch(res=>{
                            this.spinnerGlobal = false;
                            if(res.others.length > 0)
                                self.resultados = res;
                            else
                                self.msgToAlert = res.mensagem;
                        })
                }

            },
            request(){
                var self = this;
                return new Promise((resolve, reject) => {
                    self.$http.get(self.urlApi+'?ean='+self.eanCode+'&uf='+self.uf)
                        .then(value => {
                            if(value.body.others.length > 0){
                                value.body.others.sort(function (a, b) {
                                    return a.price - b.price;
                                });
                            }
                            if(value.body.status === 1){
                                resolve(value.body);
                            }else{
                                reject(value.body);
                            }

                        });
                })
            },
            showAlert(msg) {
                const options = {title: 'Ops!', size: 'sm'}
                this.$dialogs.alert(msg, options)
                    .then(res => {
                    })
            },
            logout(){
                this.$store.dispatch('authentication/logout');
            },
            moment
        },
        computed: {
            user () {
                return this.$store.state.authentication.user;
            },
            users () {
                return this.$store.state.users.all;
            }
        },
        created () {
            //this.$store.dispatch('users/getAll');
            this.$store.dispatch('authentication/me');
        }

    }
</script>
